.intro {
    position: relative;
    animation-name: fadeInn;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.introOverflow {
    background-image: linear-gradient(to bottom, #0e8686, #70a0db);
    background-size: cover;
    opacity: .95;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.introVideoButton{
    bottom: 20% !important;
    left: 50% !important;
}

.eventBox{
    background: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 40px 30px;
    transition: 0.3s;
    height: 355px;
}
